* {
    margin: 0;
    padding: 0;
    /* background-color: rgb(225, 242, 248); */
    background-color: #FFF3AF;
}

html,
body {
    overflow: hidden;
}

#play {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}